<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd">
  <extensions>
    <add assembly="NLog.Targets.Syslog" />
  </extensions>
  <variable name="layout" value="${level} | ${message} ${onexception:EXCEPTION OCCURRED\:${newline}${exception:format=type,message,method,stacktrace:maxInnerExceptionLevel=5:innerFormat=shortType,message,method}}"/>
  <variable name="syslogserver" value="logs5.papertrailapp.com"/>
  <variable name="syslogport" value="31863"/>
  <targets>
    <target name="syslogrepo"       type="Syslog"       layout="${layout}" syslogserver="${syslogserver}" port="${syslogport}" facility="Local7" machinename="#{machinename}" sender="GitDb"      />
    <target name="syslogserver"     type="Syslog"       layout="${layout}" syslogserver="${syslogserver}" port="${syslogport}" facility="Local7" machinename="#{machinename}" sender="HttpServer" />
    <target name="consolelogrepo"   xsi:type="Console"  layout="${layout}" detectConsoleAvailable="true" />
    <target name="consolelogserver" xsi:type="Console"  layout="${layout}" detectConsoleAvailable="true" />
  </targets>
  <rules>
    <logger name="git-repository" minLevel="Trace" appendTo="syslogrepo"/>
    <logger name="git-server" minLevel="Trace" appendTo="syslogserver"/>
    <logger name="git-repository" minLevel="Trace" appendTo="consolelogrepo"/>
    <logger name="git-server" minLevel="Trace" appendTo="consolelogserver"/>
  </rules>
</nlog>