<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd" throwConfigExceptions="true" throwExceptions="true">
  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Block">
      <target name="logfile" xsi:type="File"
              fileName="#{logDirectory}/${shortdate}.txt"
              archiveFileName="#{logDirectory}/archived-${shortdate}.log"
              archiveEvery="Day"
              archiveNumbering="Rolling"
              maxArchiveFiles="7"
              concurrentWrites="true"
              keepFileOpen="false"
              encoding="iso-8859-2">
        <layout xsi:type="JsonLayout" includeAllProperties="true">
          <attribute name="version" layout="#{Octopus.Release.Number}" />
          <attribute name="environment" layout="#{Octopus.Environment.Name}" />
          <attribute name="app" layout="Ylp.GitDb" />
          <attribute name="@timestamp" layout="${longdate}" />
          <attribute name="level" layout="${level:upperCase=true}"/>
          <attribute name="message" layout="${message}" />
          <attribute name="source" layout="${logger}" />
          <attribute name="exception-error-type" layout="${ylp-exception:field=ErrorType}"/>
          <attribute name="exception-method-name" layout="${ylp-exception:field=MethodName}"/>
          <attribute name="exception-class-name" layout="${ylp-exception:field=ClassName}"/>
          <attribute name="exception-assembly-name" layout="${ylp-exception:field=AssemblyName}"/>
          <attribute name="exception-message" layout="${ylp-exception:field=Message}"/>
          <attribute name="exception-stacktrace" layout="${ylp-exception:field=StackTrace}"/>
          <attribute name="exception-method-signature" layout="${ylp-exception:field=MethodSignature}"/>
          <attribute name="exception-message-signature" layout="${ylp-exception:field=MessageSignature}"/>
          <attribute name="exception-stacktrace-signature" layout="${ylp-exception:field=StackTraceSignature}"/>
          <attribute name="exception-signature" layout="${ylp-exception:field=ExceptionSignature}"/>
          <attribute name="correlationid" layout="${correlationid}" />
        </layout>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minLevel="Trace" appendTo="file"/>
  </rules>
</nlog>