<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.1.1" targetFramework="net461" />
  <package id="Autofac.Owin" version="4.0.0" targetFramework="net461" />
  <package id="Autofac.WebApi2" version="4.0.0" targetFramework="net461" />
  <package id="Autofac.WebApi2.Owin" version="4.0.0" targetFramework="net461" />
  <package id="FSharp.Core" version="4.1.17" targetFramework="net461" />
  <package id="Invoke-Build" version="3.6.4" targetFramework="net461" developmentDependency="true" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.AspNet.WebApi.Owin" version="5.2.3" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Host.HttpListener" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Hosting" version="3.0.1" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="2.1.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="NLog" version="4.4.9" targetFramework="net461" />
  <package id="NLog.Config" version="4.4.9" targetFramework="net461" />
  <package id="NLog.Schema" version="4.4.9" targetFramework="net461" />
  <package id="OctopusTools" version="3.5.4" targetFramework="net461" developmentDependency="true" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="Owin.Compression" version="1.0.15" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net461" />
  <package id="Thinktecture.IdentityModel.Owin.BasicAuthentication" version="1.0.1" targetFramework="net461" />
  <package id="YamlDotNet" version="4.0.0" targetFramework="net461" />
</packages>